*.log
.bash*
.profile
.python*
.selected*
Maildir/
archived_data/
xxx*
.git-credentials
.env
.my.cnf
.local/
.cache/
.ssh/
.claude/
.gitconfig
.lesshst
.mysql_history
.sudo_as_admin_successful
.viminfo
__pycache__/
gunicorn
BACKUP_uhi.sql
hold.zip
