aiofiles==25.1.0
annotated-types==0.8.0
branca==0.8.2
cffi==2.1.0
comm==0.2.3
cryptography==49.0.0
dash==4.4.1
folium==0.20.0
google-api-core==2.29.0
google-api-python-client==2.198.0
google-auth==2.56.2
google-auth-httplib2==0.4.0
googleapis-common-protos==1.63.1
janus==2.0.0
mysql-connector-python==8.0.31
narwhals==2.24.0
nest-asyncio==1.6.0
numpy==2.2.6
pandas==2.3.3
plotly==6.9.0
proto-plus==1.27.1
protobuf==3.19.6
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
Quart==0.20.0
requests==2.25.1
retrying==1.4.2
scipy==1.15.3
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
uritemplate==4.2.0
xyzservices==2026.3.0
